/* styles.css */
.card {
  transition: opacity 0.3s ease-in-out;
  background: rgba(72, 30, 211, 0.3);
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width:85%
  justify-content:center;   
  align-items: center;
}

.card:hover {
  opacity: 0.75;
}

body {
  background: linear-gradient(135deg, #2e2e2e, #1e1427); /* Example gradient colors */
  min-height: 100vh; /* Ensure the body takes full height */
}

footer {
  background: rgba(0, 0, 0, 0.6); /* Add a slightly transparent background for the footer */
}

.card {
 
  /* Slightly transparent white for cards */
}

.navbar {

  bbox-shadow: 0 6px 10px rgb(235, 235, 235);
  transition: opacity 0.3s ease-in-out;
  /* Slightly transparent white */
}
